@import '~antd/dist/antd.css';

.App {
  align-items: center;
  box-shadow: 0 0 15px#282c34;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 35px;
  width: 75%;
  background-color: rgb(108, 179, 236);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #6696f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(211, 240, 191);
}

.App-link {
  color: #080ced;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}